@import "font-awesome";


body{
    background: linear-gradient(to right, rgb(93, 2, 146), rgb(255, 255, 255))
}

/*Section 1*/
.sec1{
    align-items: center;
    justify-content: center;
    align-self: center;
}

h1{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #250966;
}

#h2{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #250966;
}

#h3{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #250966;
}




/*Section 2*/
.sec2{
    padding-top: 120px;
    
}

button{
    background-color: blueviolet;
    box-shadow: #250966 4px 4px 0px;
    border-radius: 8px;
    transition: transform 200ms, box-shadow 200ms;
    width: 150px;
    height: 40px;
}

button:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: #250966 0px 0px 0px;
}

.btnAll{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.btn{
    margin: 18px;
}

/*footer*/

footer{
    display: contents;
}

.btn3{
    padding-top: 200px;
}

.btn4{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}












