body{
    background: linear-gradient(to right, rgb(93, 2, 146), rgb(255, 255, 255))
}

a{
    padding-left: 30px;
}

button{
    background-color: blueviolet;
    box-shadow: #250966 4px 4px 0px;
    border-radius: 100px;
    transition: transform 200ms, box-shadow 200ms;
    width: 60px;
    height: 40px;
    margin-top: 20px;
}


button:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: #250966 0px 0px 0px;
}

h3{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    color: #250966;
}